Code/.vs/VSWorkspaceState.json
*.suo
Code/.vs/Line_1612/v15/Browse.VC.db
*.json
Code/.vs/VSWorkspaceState.json
Code/.vs/slnx.sqlite
.vs/HimselfRobot/v15/ipch/AutoPCH/H1MSELF-7556b476/H1MSELF.ipch
*.db